@using SourceControl.Services;

<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>@ViewBag.Title</title>


    <link href="~/Content/kendo/2018.1.117/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/2018.1.117/kendo.common.min.css" rel="stylesheet" type="text/css" />

    @*<link href="~/Content/ui-grid.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/ui-grid-sky.css" rel="stylesheet" type="text/css" />

        <link href="~/Content/tooltipster.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/jquery-ui.min.css" rel="stylesheet" type="text/css" />

        <link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" />

        <link href="~/Content/pretty-checkbox.css" rel="stylesheet" type="text/css" />
    *@

    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Content/fontawesome/js/all.min.js"></script>

    <script src="~/Scripts/kendo/2018.1.117/jszip.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/kendo/2018.1.117/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2018.1.117/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/jquery.tooltipster.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>


    <script>

        function Logout() {
            // remember me
            var usr = localStorage.getItem("CKDMIEUsername");
            var pwd = localStorage.getItem("CKDMIEPassword");
            localStorage.clear();
            if (usr == null || usr == undefined) {} else {
                localStorage.setItem("CKDMIEUsername", usr);
                localStorage.setItem("CKDMIEPassword", pwd);
            }

            location.href = "@Url.Action("Logout", "Account")";
        }

        function IsTreeViewChecked(treeView) {
            var selected = treeView.select();
            var item = treeView.dataItem(selected);
            if (item) {
                return true;
            } else {
                return false;
            }
        }


        $(document).ready(function() {

            kendo.culture("en-US");

            //$("#AppMenu").kendoMenu({
            //	openOnClick: true
            //});

            $("#AppMenu").kendoMenu({
                animation: {
                    open: {
                        //effects: "zoomIn",
                        duration: 300
                    }
                }
            });


            $("#dialogYesNo").kendoWindow({
                width: "400px",
                height: "250px",
                modal: true,
                scrollable: false,
                visible: false,
                actions: ["Close"]
            });


            $("#dialogInfo").kendoWindow({
                width: "700px",
                height: "250px",
                modal: true,
                scrollable: false,
                visible: false,
                actions: ["Close"]
            });

            $("#divAppMenu").show();

            $("#footerCRM").css("top", window.innerHeight - 25);
        });


        function GotoParentPage(menuId, pageTemplateId, pageFile, tabName) {

            if (pageFile.length > 0 || pageTemplateId > 0 || pageTemplateId < 0) {
                AddTab(tabName, pageTemplateId, pageFile);
                return;
            }
        }

        function Debug(content) {

            $("body").append(content + "<br>");
        }



        function GotoPage(menuId, pageTemplateId, pageFile, tabName) {

            if (pageFile.length > 0 || pageTemplateId > 0 || pageTemplateId < 0) {
                AddTab(tabName, pageTemplateId, pageFile);
                return;
            }

            // focus on home tab
            var tabStrip = $("#tabstrip").data("kendoTabStrip");
            tabStrip.select(0);
        }


        function MessageBox(title, msg, autoClose) {
            var dialog = $("#dialogInfo").data("kendoWindow");
            dialog.title(title);

            $("#dialogInfoMessage").html(msg);
            $("#dialogInfo").data("kendoWindow").open().center();

            if (autoClose) {
                $("#dialogInfoOK").hide();
                setTimeout(function() {
                    $("#dialogInfo").data("kendoWindow").close();
                }, 2300);
            }

        }

        function ConfirmMessage(title, msg) {

            var dialog = $("#dialogYesNo").data("kendoWindow");
            dialog.title(title);

            $("#dialogYesNoMsg").html(msg);
            $("#dialogYesButton").unbind("click");


            $("#dialogYesNo").data("kendoWindow").open().center();
        }

        function ShowErrorMessage(objName, msg) {

            if ($("#error" + objName).length) {
                $("#error" + objName).show();
            } else {

                $("<span class=\"k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error\" id=\"error" + objName + "\" style='position:relative;z-index:20000;margin-left:7px;overflow:visible;'><span class=\"k-icon k-warning\" style='overflow:visible;height:17px;'> </span>" + msg + "</span>").insertAfter("#" + objName);
                $("#error" + objName).closest("td").css("overflow", "visible");
                //$("#" + objName).append("<div class=\"\" id=\"error" + objName + "\" style='absolute:relative;z-index:100;'><span class=\"k-icon k-warning\"> </span>" + msg + "</div>");
            }
        }

        function HideErrorMessage(objName) {
            try {
                if ($("#error" + objName).length) {
                    $("#error" + objName).hide();
                }
                $("#error" + objName).hide();
            } catch (e) {

            }
        }

        function ShowProgress() {

        }

        function HideProgress() {

        }
        $("#context-menu").kendoContextMenu({
            target: "#targetMenu1"
        });

        function AppSpinner(tf) {
            if (tf == true) {
                $("#loading_overlay").show();
                $("#loading_div").show();
            } else {
                $("#loading_overlay").hide();
                $("#loading_div").hide();
            }
        }

    </script>
    <script src="~/Scripts/kendo.modernizr.custom.js"></script>
    <script src="~/Scripts/pako_deflate.min.js"></script>
</head>


<body style="margin:0;">


    <div id="divAppMenu" style="position:relative;min-height:50px;width:100%;display:none;">
        <div style="float:left;"><img src="/Images/@Html.Raw(SessionService.SiteSettingModel.BannerLogo)" style="z-index:200;width:200px;height:50px;" /></div>
        <div style='float:left;position:relative;top:17px;margin-left:20px;'>
            <ul id="AppMenu" style="border:none;">
                @Html.Raw(MenuService.GetUserMenu())
            </ul>
        </div>
        <div style="position:relative;float:right;margin-right:50px;top:15px;">Welcome <a href="javascript:AddTab('My Profile', 2091, '')">@Html.Raw(SessionService.CurrentUser.FullName)</a></div>

    </div>

    <div id="body" style="z-index:1;margin-top:14px;">

        @RenderBody()

    </div>


    <div id="dialogInfo" style="display:none;border-radius:4px;">
        <div style="padding: 20px; width: 100%;border-radius:4px;">
            <div id="dialogInfoMessage" style="border-radius:4px;"></div>
            <div style="position: relative; margin: 0 auto;width:100%;">
                <br />
                <button class="btn-primary" id="dialogInfoOK" onclick='$("#dialogInfo").data("kendoWindow").close();'> OK </button>
            </div>
        </div>
    </div>

    <div id="dialogYesNo" style="display:none;border-radius:4px;">
        <div style="padding:20px;">
            <div id="dialogYesNoMsg"></div>
            <br />
            <button class="btn-primary" id="dialogYesButton"> Yes </button>
            <button class="btn-primary" id="dialogNoButton" onclick='$("#dialogYesNo").data("kendoWindow").close();'> No </button>
        </div>
    </div>

    <div id="loading_overlay" style="z-index:100;display:none;"></div>

    <center>
        <div id="loading_div" style="display:none;">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </center>
    <button id="dumButton" style="display:none;"></button>


    <footer id="footerCRM" style="position:absolute;">
        <p>&nbsp;&nbsp;&copy; @DateTime.Now.Year - @Html.Raw(SessionService.SiteSettingModel.CompanyName)</p>
    </footer>
</body>
</html>



